<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1, shring-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <h1>TinyApp</h1>
    <a href="/urls/new">Shorten a new URL!</a>
    
    <% if (username) {%>
      <p>Logged in as: <%= username %></p> 
      <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary">Logout</button>
        </div>
      </form>
    <% } else { %>
          <form class="form-inline" action="/login" method="POST">
          <h1>Sign In</h1>
            <div class="form-group mb-2">
              <input class="form-control" type="text" name="username" placeholder="Input username" style="width: 300px; margin: 1em">
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
          </form>
    <% }; %>


  </body>
</html>