<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1, shring-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include('partials/_header'); %>
    

    <% if (user) {%>
      <h2>My URLs</h2>
      <% for (url in user.shortURL) {%>
        <li>shortURL: <%= user.shortURL %></li>
        <form class="form-inline" action="/urls/<%= user.shortURL %>/delete" method="POST">
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
      <a href="/urls/<%= user.shortURL %>">Edit</a>
      <%};%>
    <% } else { %>
      <h2> Login or register</h2>
    <% }; %>


  </body>
</html>